* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 45%;
  height: 45vw;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  box-shadow: 8px 0px 8px rgba(0,0,0,.4);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}
