@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none !important;
}

:root {
	--font-clr: #f6f6f6;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Montserrat', 'Verdana', sans-serif;
	background-color: #F2EAD0;
}

#header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 100;
	background-color: #C90002;
}

.header-content {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.left-container {
	position: relative;
	width: clamp(13rem, 16vw, 30rem);
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-logo {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-logo {
	width: 100%;
	height: 100%;
}

.middle-container {
	width: 50%;
	height: 20vh;
}

.header-list {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.header-link {
	border-radius: 1rem;
	padding: 1rem;
	transition: background-color 1s ease-in-out;
}

.header-link:hover {
	background-color: #ff2f26;
}

.header-link span,
.header-btn-text {
	font-size: clamp(1.5rem, 1.7vw, 2.5rem);
	color: var(--font-clr);
	font-weight: bold;
}

.wave-container {
	display: block;
	position: absolute;
	z-index: 10;
	width: 100%;
	top: 20vh;
}

.img-wave {
	display: block;
}

.hamburger-icon {
	width: 30px;
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	display: none;
	margin-right: 2rem;
}

.bar {
	width: 100%;
	height: 20%;
	background-color: #090909;
}

/* FIM HEADER */

/* MAIN CONTENT */

#home {
	padding: 20rem 5vw 2rem 5vw;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	background: url('../img/background-drip.png') center center no-repeat;
	background-size: cover;
}

.intro {
	width: 35%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}



.intro-title-container h3 {
	color: var(--font-clr);
	font-size: clamp(2.5rem, 4vw, 5rem);
	font-weight: 900;
	text-align: center;
}

.intro-text-container {
	margin-top: 1rem;
	text-align: center;
}

.intro-text-container p {
	color: var(--font-clr);
	font-size: clamp(1.5rem, 2.0vw, 3.5rem);
}

.header-btn-container {
	width: 80%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-btn{
	background: transparent;
	height: 50%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	border: 2px solid #C90002;
	transition: background-color .5s ease-in-out;
}

.header-btn:hover {
	background-color: #C90002;
}

.header-btn-text {
	color: var(--font-clr);
}

/* PRODUTOS */

#produtos {
	background: url('../img/sorvete-background-mono.jpg') center center no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
	width: 100%;
	margin-top: 10vh;
}

.flutuante-img {
	width: 100%;
	height: 100%;
}

.product-section {
	display: flex;
	padding: 2rem 11rem;
	justify-content: space-evenly;
	flex-wrap: wrap;
	max-height: calc(300px + 4rem);
	gap: 2rem 4rem;
	overflow-y: hidden;
	transition: max-height .3s ease-in-out;
}

.product-section.down {
	max-height: fit-content;
}

.product-content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-img {
	width: 300px;
	height: 300px;
	min-width: 200px;
	min-height: 200px;
	background-color: #F2BE70;
	z-index: 2;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.7s ease;
	position: absolute;
}

.product-img img {
	position: relative;
	width: 100%;
	height: 100%;
}

.product-overlay-container {
	display: flex;
	align-items: center;
	background-color: #FFE4CF;
	width: 300px;
	height: 300px;
	min-width: 200px;
	min-height: 200px;
	transition: .5s all ease-in-out;
	z-index: 1;
}

.product-overlay-container, .product-img{
	border-radius: 0 4rem 0 4rem;
	overflow: hidden;
}

.product-content:hover .product-img {
	transform: scaleY(1);
}

.product-overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('../img/wave-bottom-product.svg') no-repeat;
	background-position: -200px;
	background-size: 500%;
	width: 100%;
	height: 100%;
	transition: .5s all ease-in-out;
}

.product-text {
	font-size: clamp(1.4rem, 1.8vw, 2rem);
	text-align: center;
	font-weight: bold;
}

.wave-img {
	display: block;
}

.see-btn-container{
	text-align: center;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5vh;
}

.see-btn{
	background-color: #ff2f26;
	width: 25%;
	padding: 1rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	box-shadow: 8px 0px 8px rgba(0, 0, 0, .4);
	transition: box-shadow .5s ease-in-out;
	cursor: pointer;
}

.see-btn:hover{
	box-shadow: 0px 0px 0px;
}

.see-btn span{
	font-size: clamp(1.5rem, 1.7vw, 2.5rem);
	color: var(--font-clr);
	font-weight: bold;
}

/* WHATSAPP */

#whatsapp{
	width: 100%;
	background-color: #F2D5C4;
	margin-top: 5vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#whatsapp h3{
	width: 80%;
	text-align: center;
	font-size: clamp(1.5rem, 2.2vw, 2.8rem);
	font-weight: 900;
	color: #800000;
}

.whatsapp-container{
	margin-top: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.whatsapp-link i {

	font-size: 3.5rem;
	color: #800000;
	transition: transform .5s ease-in-out;
}

.whatsapp-link i:hover {
	transform: scale(1.5);
}

/* SERVIÇOS */

#servicos {
	margin-top: 5vh;
	padding-top: 3rem;
	background: #ffc2ca;
}

#servicos h3{
	text-align: center;
	font-size: clamp(1.5rem, 2.5vw, 3.5rem);
	font-weight: 900;
}

.servicos-container{
	margin: 10vh auto 0 auto;
	max-width: 90%;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 3rem;
}

.servicos-content{
	display: flex;
	height: auto;
	width: 30%;
	align-items: center;
	flex-wrap: wrap;
}

.servicos-img-container{
	text-align: center;
	max-width: 100%;
	flex: 1;
	margin-right: 2rem;
}

.servicos-img-container img{
	max-width: 100%;
	height: 100%;
}

.text-container{
	max-width: 100%;
	flex: 1
}

.servicos-text{
	font-size:clamp(1.5rem, 2vw, 2.5rem);
	font-weight: bold;
}

/* FIM MAIN CONTENT */

/* LOCATION */

.location-container {
	max-width: 75%;
	padding-top: 2rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.map-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	height: 40vw;
	margin-top: 2rem
}

.map-container iframe{
	height: 100%;
}

.location-title {
	width: 100%;
	text-align: center;
	font-size: clamp(2.5rem, 4vw, 5rem);
	font-weight: 900;
}

.location-text {
	width: 100%;
	text-align: center;
	margin-top: 2rem;
	font-size: clamp(1.5rem, 2.0vw, 3.5rem);
}

.location-text strong {
	font-weight: bold;
}

.map-container {
	border-radius: 2rem;
	overflow: hidden;
}

.map-container iframe {
	width: 100%;
}

.flutuante1, .flutuante2 ,.flutuante3, .flutuante4{
	width: 30%;
	position: absolute;
}

.flutuante2{
	right: -12%;
	transform: rotate(-25deg) !important;
}

.flutuante1{
	left: -15%;
	transform: rotate(25deg) !important;
}

.flutuante3{
	left: -11%;
	transform: rotate(25deg) !important;
}

.flutuante4{
	right: -14%;
	transform: rotate(-25deg) !important;
}

/* FIM LOCATION */

/* FOOTER */


footer {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.wave-footer-container{
	width: 100%;
	display: block;
}

.footer-container{
	background: #C90002;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 2rem;
}

.icon-container{
	width: 30%;
	display: flex;
}

.icon-container img{
	width: 70%;
	height: 70%;
}

#localizacao {
	margin-top: 5vh;
	padding-bottom: 5vh;
	max-width: 100%;
	background-color: #F2D5C4;
	display: flex;
	align-items: center;
}

.tel-us-container {
	width: 30%;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.follow-us-title,
.tel-us-title {
	text-align: center;
	font-size: clamp(2rem, 3vw, 2.5rem);
	color: #fafafa;
	font-weight: 900;
}

.social-container {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.social-icons-container {
	display: flex;
	justify-content: center;
}

.social-list {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.icon-link i {
	font-size: 3.5rem;
	color: #fafafa;
	transition: transform .5s ease-in-out;
}

.icon-link i:hover {
	transform: scale(1.5);
}

.tel-us-text {
	width: 100%;
	text-align: center;
	font-size: clamp(1.5rem, 2vw, 2rem);
	color: #fafafa;
	margin: 2rem 0;
}

.tel-us-text a {
	color: #fafafa;
	transition: all .5s ease-in-out;
}

.tel-us-text a:hover {
	font-weight: bold;
	color: #f0f0ff;
}

.copyright-container {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #090909;
}

.copyright-title {
	color: #fff;
	font-size: clamp(1rem, 1.5vw, 2.5rem);
	text-align: center;
}

.copyright-text {
	padding: 0;
}

@media only screen and (max-width: 1276px) {
	.header-btn-container {
		display: none;
	}
}

@media only screen and (max-width:768px) {
/* 
	.link-logo {
		margin-left: 2rem;
	} */

	#header {
		justify-content: space-between;
	}
	
	.header-content{
		justify-content: space-between;
		padding: 0 1rem;
	}

	.left-container{
		margin-left: 1rem;
	}

	.hamburger-icon {
		display: flex;
	}

	.middle-container {
		display: none;
	}

	.middle-container.show-menu {
		position: absolute;
		top: 25vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-evenly;
		background-color: #C90002;
		z-index: 100;
	}

	.middle-container.show-menu>.header-list {
		padding: 1rem 0 1rem 0;
		flex-direction: column;
		background-color: #C90002;
		position: absolute;
		height: 30vh;
		z-index: 100;
		border-bottom: 1px solid #FAFAFA;
	}

	.product-section{
		padding: 2rem 0;
	}

	.header-btn-container.show-button {
		display: block;
	}

	.wave-container{
		top: calc(15vh + 4rem)
	}

	.header-content{
		padding: 2rem 0;
	}

	.map-container{
		height: 90vw;
	}

	.footer-container{
		flex-direction: column;
	}

	.icon-container,
	.social-container,
	.tel-us-container{
		width: 100%;
	}

	.social-container,.tel-us-container{
		margin-top: 2rem;
	}

	.social-icons-container{
		margin-top: 2rem;
	}

	.icon-container{
		display: flex;
		justify-content: center;
	}

	.icon-container img{
		width: 50%;
		height: 50%;
	}

}

@media only screen and (max-width: 991px) {

	#home {
		flex-direction: column;
		padding: 12rem 0 2rem 0;
	}

	.slideshow-container {
		margin-top: 2em;
		max-width: 90%;
	}

	.intro {
		width: 90%;
		margin: 0 auto;
	}

	#produtos {
		margin-top: 5rem;
	}

	.sorvetes-wrapper {
		margin: 2rem 0 0 0;
	}

	.see-btn{
		width: 50%;
	}

	.servicos-container {
		margin: 0 auto;
	}

	.servicos-container {
		flex-direction: column;
		align-items: center;
	}

	.servicos-content {
		flex-direction: column;
		width: 60%;
		margin-bottom: 2rem;
		padding: 0;
	}

	.servicos-content:last-child {
		margin-bottom: 0;
	}

	.servicos-img-container {
		padding: 0;
		margin-right: 0;
		margin-bottom: 1rem;
	}

	.location-container {
		flex-direction: column;
		justify-content: space-between;
	}

	.map-container{
		width: 100%;
	}

	.location-img-container {
		margin-top: 2rem;
	}
}