@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none !important; 
}

:root{
	--font-clr: #f6f6f6;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Montserrat', 'Verdana', sans-serif;
	background-color: #F2EAD0;
	background-attachment: fixed;
}

#header {
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url('../img/wave.svg') center center no-repeat;
	background-size: cover;
}

.header-content{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.left-container {
	position: relative;
	width: clamp(13rem, 16vw, 30rem);
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-logo {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-logo {
	width: 100%;
	height: 100%;
}

.middle-container {
	width: 50%;
	height: 20vh;
}

.header-list {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.header-link {
	border-radius: 1rem;
	padding: 1rem;
	transition: background-color 1s ease-in-out;
}

.header-link:hover {
	background-color: #ff2f26;
}

.header-link span,
.header-btn-text {
	font-size: clamp(1.5rem, 1.7vw, 2.5rem);
	color: var(--font-clr);
		font-weight: bold;
}

.wave-container{
	display: block;
	position: relative;

}

.wave-container img{
	position: relative;
	display: block
}

.hamburger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: none;
	margin-right: 2rem;
}

.bar {
    width: 100%;
    height: 20%;
    background-color: #090909;
}

/* FIM HEADER */

/* MAIN CONTENT */

#home{
	padding: 2rem 5vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: url('../img/background-drip.png') center center no-repeat;
	background-size: cover;
}

.intro{
	width: 35%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.intro-title-container h3{
	color: var(--font-clr);
	font-size: clamp(2.5rem, 4vw, 5rem);
	font-weight: 900;
}

.intro-text-container{
	margin-top: 1rem;
		text-align: center;
}

.intro-text-container p{
	color: var(--font-clr);
	font-size: clamp(1.5rem, 2.0vw, 3.5rem);
}

.header-btn-container {
	width: 80%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-btn {
	background: linear-gradient(241deg, #c6b8ff, #ffa38a, #ff2f26);
	background-size: 180% 180%;
	animation: gradient-animation 15s ease infinite;
	height: 50%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	box-shadow: 8px 0px 8px rgba(0,0,0,.4);
	transition: box-shadow .5s ease-in-out;
}

.header-btn:hover {
	box-shadow: 0px 0px 0px black;
}

.header-btn-text{
	color: var(--font-clr);
}

/* PRODUTOS */

#produtos{
	background: url('../img/sorvete-background-mono.jpg') center center no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
	width: 100%;
	margin-top: 10vh;
}

.flutuante{
	position: absolute;
	width: 10rem;
	height: 20rem;
}

.flutuante img{
	width: 100%;
	height: 100%;
}

.product-section{
	display: flex;
	padding: 2rem 3rem;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.product-content{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.product-img{
	width: 300px;
	height: 300px;
    min-width: 200px;
    min-height: 200px;
	background-color: #F2BE70;
	z-index: 2;
 	transform: scaleY(0);
  	transform-origin: top;
  	transition: transform 0.7s ease;
	position: absolute;
}

.product-img img{
	width: 100%;
	height: 100%;
}

.product-overlay-container{
	display: flex;
	align-items: center;
	background-color: #FFE4CF ;
	width: 300px;
	height: 300px;
    min-width: 200px;
    min-height: 200px;
	transition: .5s all ease-in-out;
	z-index: 1;
}

.product-content:hover .product-img {
	transform: scaleY(1); 
}

.product-overlay{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('../img/wave-bottom-product.svg') no-repeat;
	background-position: -200px;
	background-size: 500%;
	width: 100%;
	height: 100%;
	transition: .5s all ease-in-out;
}

.product-text{
	font-size: clamp(1.4rem, 1.8vw, 2rem);
	text-align: center;
	font-weight: bold;
}

.wave-img{
	display: block;
}

/* SERVIÇOS */

#servicos{
	margin-top: 10vh;
	padding-top: 3rem;
	background-color: #fafafa;
}

#servicos h3{
	text-align: center;
	font-size: clamp(1.5rem, 2.5vw, 3.5rem);
	font-weight: 900;
}

.servicos-container{
	margin: 10vh auto 0 auto;
	max-width: 90%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 3rem;
}

.servicos-content{
	display: flex;
	height: auto;
	width: 30%;
	align-items: center;
	flex-wrap: wrap;
}

.servicos-img-container{
	padding-right: 2rem;
	max-width: 100%;
	flex: 1;
}

.servicos-img-container img{
	max-width: 100%;
	height: 100%;
}

.text-container{
	max-width: 100%;
	flex: 1
}

.servicos-text{
	font-size:clamp(1.5rem, 2vw, 2.5rem);
}

/* FIM MAIN CONTENT */

/* SOBRE */

:root {
	/*========== Colors ==========*/
	--hue-color: 225;
	--first-color: hsl(var(--hue-color), 48%, 35%);
	--title-color: hsl(var(--hue-color), 48%, 22%);
	--text-color: hsl(var(--hue-color), 12%, 35%);
	--body-color: hsl(var(--hue-color), 49%, 98%);
	--container-color: #FAFAFA;
	/*========== Font and typography ==========*/
	--body-font: 'Montserrat', sans-serif;
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	font-size: clamp(1.5rem, 1.8vw, 2rem);	
	color: var(--text-color);
}

/*=============== LAYOUT ===============*/
.container {
	max-width: 90%;
	margin: 0 auto;
	margin-top: 10vh;

}

/*=============== ACCORDION ===============*/


.accordion {
	display: grid;
	align-content: center;
}

.accordion__container {
	display: grid;
	row-gap: .75rem;
	padding: 2rem 1rem;
	background-color: var(--container-color);
	border-radius: .5rem;
	box-shadow: 0 12px 32px rgba(51, 51, 51, 0.1);
}

.accordion__title {
	font-size: var(--small-font-size);
	color: var(--title-color);
	font-weight: 400;
	margin-top: .15rem;
	transition: .2s;
}

.accordion__header {
	display: flex;
	align-items: center;
	column-gap: .5rem;
	padding: 1.25rem 1.25rem 1.25rem 1rem;
	cursor: pointer;
}

.accordion__description {
	padding: 0 1.25rem 1.25rem 3rem;
	font-size: var(--smaller-font-size);
}

.accordion__icon {
	font-size: 1.5rem;
	height: max-content;
	color: var(--title-color);
	transition: .3s;
}

.accordion__item {
	box-shadow: 0 2px 6px rgba(38, 38, 38, 0.1);
	background-color: var(--container-color);
	border-radius: .25rem;
	position: relative;
	transition: all .25s ease;
}

.accordion__item::after {
	content: '';
	background-color: var(--first-color);
	width: 5px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: .25rem 0 0 .25rem;
}

.accordion__item:nth-child(1) {
	background-color: #fff7f0;
}

.accordion__item:nth-child(1)::after {
	background-color: #ffc08a;
}

.accordion__item:nth-child(2) {
	background-color: #f0f0ff;
}

.accordion__item:nth-child(2)::after {
	background-color: #8a8aff;
}

.accordion__item:nth-child(3) {
	background-color: #fff0f3;
}

.accordion__item:nth-child(3)::after {
	background-color: #ff8aa1;
}

.accordion__item:nth-child(4) {
	background-color: #f0faff;
}

.accordion__item:nth-child(4)::after {
	background-color: #8ad8ff;
}

.accordion__content {
	overflow: hidden;
	height: 0;
	transition: all .25s ease;
}

/*Rotate icon and add font weight to titles*/
.accordion-open .accordion__icon {
	transform: rotate(45deg);
}

.accordion-open .accordion__title {
	font-weight: 600;
}

/*=============== MEDIA QUERIES ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
	.accordion__container {
		padding: 2.5rem;
		justify-self: center;
		border-radius: .75rem;
	}
	.accordion__header {
		padding: 1.5rem;
	}
	.accordion__title {
		padding-right: 3.5rem;
	}
	.accordion__description {
		padding: 0 4rem 1.25rem 3.5rem;
	}
}
/* 
For large devices
@media screen and (min-width: 968px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
} */

/* FIM SOBRE */

/* LOCATION */

.location-container{
	max-width: 90%;
	padding-top: 2rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.location-img-container, .map-container{
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	height: 450px;
	margin-top: 2rem
}

.location-img-container img{
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	overflow: hidden;
}


.location-title{
	width: 100%;
	text-align: center;
	font-size: clamp(2.5rem, 4vw, 5rem);
	font-weight: 900;
}

.location-text{
	width: 100%;
	text-align: center;
	margin-top: 2rem;
	font-size: clamp(1.5rem, 2.0vw, 3.5rem);
}

.location-text strong{
	font-weight: bold;
}

.map-container{
	border-radius: 2rem;
	overflow: hidden;
}

.map-container iframe {
	width: 100%;
}



/* FIM LOCATION */

/* CONTATOS */

#contato{
	margin-top: 10vh;
	max-width: 100%;
	background: url(../img/pink-background.jpg) center center no-repeat;
	background-size: cover;
}

.campo-form{
	max-width: 90%;
	margin: 0 auto;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 3rem 0;
	align-items: center;
}

.input-text{
	width: 50%;
}

.form-label{
	font-size: clamp(1.5rem, 2vw, 2rem);
	font-weight: 900;
	margin: 1.5rem 0 .5rem 0;
}

.form-label:first-child{
	margin-top: 0;
}

.input-text, .input-submit{
	font-size: clamp(1rem, 1.2vw, 2rem);
	color: #090909;
	background-color: transparent;
	padding: 2rem 0 .3rem .5rem;
	outline: none;
	border-bottom: 1px solid #000;
	font-family: 'Montserrat', sans-serif;
}

.input-submit{
	margin-top: 1rem;
	padding: 1rem 0;
	width: 30%;
	cursor: pointer;
	border: 1px solid #000;
	transition: all .3s;
	border-radius: 1rem;
	font-family: 'Montserrat', sans-serif;
}

.input-submit:hover{
	background-color: #F2BE70;
}

#text-area{
	width: 50%;
	resize: none;
	height: 200px;
	font-family: 'Montserrat',sans-serif;
}

.follow-us-container, .tel-us-container{
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.follow-us-title, .tel-us-title{
	width: 50%;
	text-align: center;
	font-size: clamp(1.5rem, 2vw, 2rem);
	color: #000;
	font-weight: 900;
}

.social-container{
	margin-top: 2rem;
}

.social-icons-container {
    max-width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.social-list {
	width: 50%;
    display: flex;
    justify-content: space-evenly;
	padding-bottom: 2rem;
}

.icon-link i {
    font-size: 2.5rem;
	color: #090909;
	transition: transform .5s ease-in-out;
}

.icon-link i:hover{
	transform: scale(1.5);
}

.tel-us-text{
	width: 50%;
	text-align: center;
	font-size: clamp(1.5rem, 2vw, 2rem);
	color: #000;
	margin: 2rem 0;	
}

.tel-us-text a{
	color: #000;
	transition: all .5s ease-in-out;
}

.tel-us-text a:hover{
	font-weight: bold;
	color:#f0f0ff;
}

/* FIM CONTATOS */

/* FOOTER */

footer {
	max-width: 100%;
	background-size: cover;
	background-color: #090909;
}


.copyright-container{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright-title {
	color: #fff;
	font-size: clamp(1rem, 1.5vw, 2.5rem);
	text-align: center;
}

.copyright-text {
	padding: 0;
}



@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 1276px){
	.header-btn-container{
		display: none;
	}
}

@media only screen and (max-width:768px){
	
	.link-logo{
		margin-left: 2rem;
	}

	#header{
		justify-content: space-between;
	}

	.hamburger-icon{
		display: flex;
	}
	.middle-container{
		display: none;
	}

	.middle-container.show-menu {
        position: absolute;
        top: 25vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        background-color: #F2EAD0;
        z-index: 10;
    }

	.middle-container.show-menu>.header-list{
		padding: 1rem 0 1rem 0;
		flex-direction: column;
		background-color: #F2EAD0;
		position: absolute;
		height: 30vh;
		z-index: 999;
		border-bottom: 1px solid #FAFAFA;
	}

	.sorvetes-wrapper{
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
	
	.header-btn-container.show-button{
		display: block;
	}

	
}

@media only screen and (max-width: 991px){

	#home{
		flex-direction: column;
		padding: 4rem 0 0 0;
	}

	.slideshow-container{
		max-width: 90%;
	}
	
	.intro{
		width: 90%;
		margin: 0 auto;
	}

	#produtos{
		margin-top: 5rem;
	}

	.sorvetes-wrapper{
		margin: 2rem 0 0 0;
	}

	.servicos-container{
		margin: 0 auto;
	}
	
	.servicos-container{
		flex-direction: column;
		align-items: center;
	}
	
	.servicos-content{
		flex-direction: column;
		width: 60%;
		margin-bottom: 2rem;
		padding: 0;
	}
	
	.servicos-content:last-child{
		margin-bottom: 0;
	}

	.servicos-img-container{
		padding: 0;
		margin-bottom: 1rem;
	}

	.location-container{
		flex-direction: column;
		justify-content: space-between;
	}

	.map-container, .location-img-container{
		width: 100%;
	}
	

	.location-img-container{
		margin-top: 2rem;
	}
	
	.input-text{
		width: 100%;
	}

	#text-area{
		width:100%

	}
}

